* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
textarea,
input {
	padding: 10px;
	font-family: FontAwesome, 'Open Sans', Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}
